*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/codeStyles
/.idea/caches
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/androidTestResultsUserPreferences.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/migrations.xml
/.idea/runConfigurations.xml
/.idea/shelf/*
